@page "/articles"
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject BlazorUser BlazorUser
@inject HttpClient HttpClient
@using System.Text.Json

<nav class="py-3 navbar navbar-expand-lg fixed-top">
    <div class="container">
        <h2> Школа выживания</h2>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/articles">Статьи</a>
                </li>
                @*   <li class="nav-item">
                <a class="nav-link" href="#">Форум</a>
                </li> *@
                @if (BlazorUser.User != null)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Личный кабинет</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Войти</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

<div class="my-5 container main-content pt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-end mb-3">
                <button class="btn btn-success" @onclick="CreateArticle">
                    <i class="bi bi-plus-square data-bs-toggle="tooltip" data-bs-placement="top" title="Добавить статью"></i> 
                </button>
                @if (BlazorUser.User != null && BlazorUser.User.RoleId == 2)
                {
                    <button class="btn btn-warning ms-2" @onclick="ShowUnapprovedArticles">
                        <i class="bi bi-eye  data-bs-toggle="tooltip" data-bs-placement="top" title="Посмотреть не одобренные статьи"></i>
                    </button>
                }
                @if (BlazorUser.User != null)
                {
                    <button class="btn btn-info ms-2" @onclick="ShowMyArticles">
                        <i class="bi bi-bookmark-heart data-bs-toggle="tooltip" data-bs-placement="top" title="Посмотреть свои статьи"></i>
                    </button>
                }
                <button class="btn btn-secondary ms-2" @onclick="ShowAllArticles">
                    <i class="bi bi-bookmarks data-bs-toggle="tooltip" data-bs-placement="top" title="Все стаьи"></i>
                </button>
                @if (BlazorUser.User != null)
                {
                    <button type="button" class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#notificationsModal">
                        <i class="bi bi-bell"></i> Уведомления
                    </button>
                }
            </div>

            @if (Lectures == null)
            {
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span>Загрузка...</span>
            }
            else
            {
                <div class="row row-cols-1 row-cols-md-3 g-3">
                    @foreach (var lecture in Lectures)
                    {
                        <div class="col">
                            <div class="card h-100 @(lecture.IsApproved ? "" : "unapproved-article")">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    @if (!lecture.IsApproved)
                                    {
                                        <div class="unapproved-label">Не одобрена</div>
                                    }
                                    <h5 class="card-title">@lecture.Title</h5>
                                    <p class="card-text flex-grow-1">
                                        @(lecture.Content.Length > 250 ? lecture.Content.Substring(0, 250) + "..." : lecture.Content)
                                    </p>

                                    <p class="card-text">
                                        <i class="bi bi-person"></i> @lecture.Author
                                        <span class="float-end">@lecture.CreatedDate.ToShortDateString()</span>
                                    </p>

                                    @if (BlazorUser.User != null && (BlazorUser.User.RoleId == 2 || lecture.CreatedBy == BlazorUser.User.UserId))
                                    {
                                        <div class="d-flex">
                                           <button class="btn btn-primary flex-grow-1" @onclick="() => NavigateToArticle(lecture.LectureID)">Читать далее</button>
                                                <button class="btn btn-danger ms-2 flex-fill" @onclick="() => DeleteArticle(lecture.LectureID)" data-bs-toggle="tooltip" data-bs-placement="top" title="Удалить статью">
                                                    <i class="bi bi-trash3"></i>
                                                </button>
                                                <button class="btn btn-secondary ms-2 flex-fill" @onclick="() => EditArticle(lecture.LectureID)" data-bs-toggle="tooltip" data-bs-placement="top" title="Изменить статью">
                                                    <i class="bi bi-pencil-square"></i>
                                                </button>
                                            @if (!lecture.IsApproved && BlazorUser.User.RoleId == 2)
                                            {
                                                <button class="btn btn-success ms-2 flex-fill" @onclick="() => ApproveArticle(lecture.LectureID)" data-bs-toggle="tooltip" data-bs-placement="top" title="Одобрить статью">
                                                        <i class="bi bi-check2-square"></i>
                                                </button>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <a href="@($"/article/{lecture.LectureID}")" class="btn btn-primary mt-auto">Читать далее</a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>


<!-- Модальное окно -->
<div class="modal fade" id="notificationsModal" tabindex="-1" aria-labelledby="notificationsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notificationsModalLabel">Уведомления</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if (IsLoadingNotifications)
                {
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span>Загрузка уведомлений...</span>
                }
                else if (Notifications != null && Notifications.Any())
                {
                   <ul class="list-group">
                        @foreach (var notification in Notifications)
                        {
                            <li class="list-group-item @(notification.IsRead ? "" : "unread") @(notification.NotificationType == "Одобрение статьи" ? "bg-success text-white" : "bg-danger text-white")" style="@(notification.IsRead ? "" : "background-color: #f8d7da;")">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <strong>@notification.NotificationType:</strong> @notification.NotificationText
                                    </div>
                                    <div>
                                        <button class="btn btn-sm btn-outline-light" @onclick="() => MarkNotificationAsRead(notification.NotificationId)">Прочитано</button>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <p>Уведомлений нет.</p>
                }
            </div>
        </div>
    </div>
</div>
@code {
    private List<GetLectureResponse> Lectures;
    private bool ShowUnapproved = false;
    private bool ShowMyArticlesFlag = false;
   @*    *@
    private List<GetNotificationsResponse> Notifications = new List<GetNotificationsResponse>();
    private bool ShowNotificationsFlag = false;
    private bool IsLoadingNotifications = false;

    protected override async Task OnInitializedAsync()
    {
        await LoadLectures();
    }

    private async Task LoadLectures()
    {
        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri("https://survivalschoolfinalapi.onrender.com/");

        // Получаем список лекций
        var lectures = await client.GetFromJsonAsync<List<GetLectureResponse>>("api/Lecture");

        // Фильтруем лекции в зависимости от роли пользователя и статуса утверждения
        if (BlazorUser.User != null)
        {
            if (BlazorUser.User.RoleId == 1 && !ShowMyArticlesFlag) // Обычный пользователь и не показываем свои статьи
            {
                lectures = lectures.Where(l => l.IsApproved).ToList();
            }
            else if (BlazorUser.User.RoleId == 2 && ShowUnapproved) // Администратор и показываем неподтвержденные
            {
                lectures = lectures.Where(l => !l.IsApproved).ToList();
            }
            else if (ShowMyArticlesFlag) // Показываем только статьи текущего пользователя
            {
                lectures = lectures.Where(l => l.CreatedBy == BlazorUser.User.UserId).ToList();
            }
        }
        else
        {
            // Если пользователь не авторизован, показываем только утвержденные статьи
            lectures = lectures.Where(l => l.IsApproved).ToList();
        }

        Lectures = lectures;

        // Получаем информацию о пользователях для каждой лекции
        foreach (var lecture in Lectures)
        {
            try
            {
                var user = await client.GetFromJsonAsync<User>($"/api/User/{lecture.CreatedBy}");
                lecture.Author = user?.Username ?? "Неизвестный пользователь";
            }
            catch (HttpRequestException)
            {
                // Если пользователь не найден, устанавливаем "Неизвестный пользователь"
                lecture.Author = "Неизвестный пользователь";
            }
        }
    }

    private async Task CreateArticle()
    {
        if (BlazorUser.User == null)
        {
            var confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Для создании статьи вам необходимо войти в аккаунт. Хотите войти в аккаунт?");
            if (confirmed)
            {
                NavigationManager.NavigateTo("/login");
            }
        }
        else
        {
            NavigationManager.NavigateTo("/create-article");
        }
    }

    private async Task ShowUnapprovedArticles()
    {
        ShowUnapproved = true;
        ShowMyArticlesFlag = false; // Сбрасываем флаг своих статей
        await LoadLectures();
    }

    private async Task ShowMyArticles()
    {
        ShowMyArticlesFlag = true;
        ShowUnapproved = false; // Сбрасываем флаг неподтвержденных статей
        await LoadLectures();
    }

    private async Task ShowAllArticles()
    {
        ShowUnapproved = false;
        ShowMyArticlesFlag = false;
        await LoadLectures();
    }

    private async Task DeleteArticle(int lectureId)
    {
        var confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Вы точно уверены, что хотите удалить статью?");
        if (confirmed)
        {
            HttpClient client = new HttpClient();
            client.BaseAddress = new Uri("https://survivalschoolfinalapi.onrender.com/");

            // Получаем данные статьи перед её удалением
            var lecture = Lectures.FirstOrDefault(l => l.LectureID == lectureId);
            if (lecture == null)
            {
                Console.WriteLine("Статья не найдена для удаления.");
                return;
            }

            // Проверяем, является ли текущий пользователь автором статьи или администратором
            if (BlazorUser.User == null || (BlazorUser.User.UserId != lecture.CreatedBy && BlazorUser.User.RoleId != 2))
            {
                await JSRuntime.InvokeVoidAsync("alert", "У вас нет прав на удаление этой статьи.");
                return;
            }

            // Удаляем статью
            var response = await client.DeleteAsync($"api/Lecture/{lectureId}");
            if (response.IsSuccessStatusCode)
            {
                Lectures = Lectures.Where(l => l.LectureID != lectureId).ToList();

                // Создаем уведомление об удалении статьи
                await CreateNotification(lecture.CreatedBy, "Удаление статьи", $"Ваша статья '{lecture.Title}' была удалена.");
            }
            else
            {
                // Обработка ошибки удаления
                await JSRuntime.InvokeVoidAsync("alert", "Не удалось удалить статью.");
            }
        }
    }

    private async Task ApproveArticle(int lectureId)
    {
        var confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Вы точно уверены, что хотите одобрить статью?");
        if (confirmed)
        {
            HttpClient client = new HttpClient();
            client.BaseAddress = new Uri("https://survivalschoolfinalapi.onrender.com/");

            var response = await client.PutAsync($"api/Lecture/approve/{lectureId}", null);

            if (response.IsSuccessStatusCode)
            {
                // Обновляем локальный список статей
                var updatedLecture = Lectures.FirstOrDefault(l => l.LectureID == lectureId);
                if (updatedLecture != null)
                {
                    updatedLecture.IsApproved = true;

                    // Создаем уведомление об одобрении статьи
                    await CreateNotification(updatedLecture.CreatedBy, "Одобрение статьи", $"Ваша статья '{updatedLecture.Title}' была одобрена.");
                }

                await JSRuntime.InvokeVoidAsync("alert", "Статья успешно одобрена.");
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("alert", "Не удалось одобрить статью.");
            }
        }
    }

    private void EditArticle(int lectureId)
    {
        // Проверяем, является ли текущий пользователь автором статьи или администратором
        var lecture = Lectures.FirstOrDefault(l => l.LectureID == lectureId);
        if (lecture == null)
        {
            Console.WriteLine("Статья не найдена для редактирования.");
            return;
        }

        if (BlazorUser.User == null || (BlazorUser.User.UserId != lecture.CreatedBy && BlazorUser.User.RoleId != 2))
        {
            JSRuntime.InvokeVoidAsync("alert", "У вас нет прав на редактирование этой статьи.");
            return;
        }

        NavigationManager.NavigateTo($"/edit-article/{lectureId}");
    }

    private void NavigateToArticle(int lectureId)
    {
        NavigationManager.NavigateTo($"/article/{lectureId}");
    }


//УВЕДОМЛЕНИя
   private async Task ShowNotifications()
    {
        if (BlazorUser.User == null)
        {
            return;
        }

        IsLoadingNotifications = true;
        StateHasChanged();

        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri("https://survivalschoolfinalapi.onrender.com/");

        // Получаем все уведомления
        var allNotifications = await client.GetFromJsonAsync<List<GetNotificationsResponse>>("api/Notifications");

        // Фильтруем уведомления по UserId текущего пользователя и IsRead = false
        Notifications = allNotifications?.Where(n => n.UserId == BlazorUser.User.UserId && !n.IsRead).ToList() ?? new List<GetNotificationsResponse>();

        IsLoadingNotifications = false;
        StateHasChanged();
    }

private async Task MarkNotificationAsRead(int notificationId)
{
    HttpClient client = new HttpClient();
    client.BaseAddress = new Uri("https://survivalschoolfinalapi.onrender.com/");

    var notification = Notifications.FirstOrDefault(n => n.NotificationId == notificationId);
    if (notification != null)
    {
        var response = await client.PutAsync($"api/Notifications/read/{notificationId}", null);
        if (response.IsSuccessStatusCode)
        {
            notification.IsRead = true;
            var updateResponse = await client.PutAsJsonAsync($"api/Notifications/{notificationId}", notification);
            // Удаляем уведомление из локального списка
            Notifications = Notifications.Where(n => n.NotificationId != notificationId).ToList();

            if (updateResponse.IsSuccessStatusCode)
            {
                await JSRuntime.InvokeVoidAsync("alert", "Уведомление отмечено как прочитанное.");
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("alert", "Не удалось отметить уведомление как прочитанное.");
            }
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("alert", "Не удалось отметить уведомление как прочитанное.");
        }
        // Обновляем состояние компонента, чтобы изменения отобразились на странице
        StateHasChanged();
    }
}

private async Task CreateNotification(int userId, string notificationType, string notificationText)
{
    HttpClient client = new HttpClient();
    client.BaseAddress = new Uri("https://survivalschoolfinalapi.onrender.com/");

    var notification = new CreateNotificationsRequest
    {
        UserId = userId,
        NotificationType = notificationType,
        NotificationText = notificationText
    };

    var response = await client.PostAsJsonAsync("api/Notifications", notification);

    if (!response.IsSuccessStatusCode)
    {
        await JSRuntime.InvokeVoidAsync("alert", "Не удалось создать уведомление.");
    }
}

    public class GetLectureResponse
    {
        public int LectureID { get; set; }
        public string Title { get; set; }
        public string Content { get; set; }
        public int CategoryId { get; set; }
        public DateTime UpdatedDate { get; set; }
        public string? PhotoUrl { get; set; }
        public int CreatedBy { get; set; }
        public DateTime CreatedDate { get; set; }
        public string Author { get; set; } // Добавляем свойство для имени автора
        public bool IsApproved { get; set; } // Добавляем свойство для статуса утверждения
    }

    public class User
    {
        public int UserId { get; set; }
        public string Username { get; set; } = null!;
        public string Email { get; set; } = null!;
        public string Pass { get; set; } = null!;
        public string FirstName { get; set; } = null!;
        public string LastName { get; set; } = null!;
        public DateTime RegistrationDate { get; set; }
        public DateTime? LastLoginDate { get; set; }
        public int RoleId { get; set; }
    }

    public class GetNotificationsResponse
    {
        public int NotificationId { get; set; }
        public int UserId { get; set; }
        public string NotificationType { get; set; } = null!;
        public string NotificationText { get; set; } = null!;
        public bool IsRead { get; set; }
        public DateTime CreatedDate { get; set; }
    }

    public class CreateNotificationsRequest
    {
        public int UserId { get; set; }
        public string NotificationType { get; set; } = null!;
        public string NotificationText { get; set; } = null!;
    }
}